.my-popover {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  color: black;
}
